## Proposal_Group7

In [7]:
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [8]:
salary_dataset <- read.csv("Salary_Data_Based_country_and_race.csv")

In [9]:
head(salary_dataset)

  X Age Gender Education.Level Job.Title         Years.of.Experience Salary
1 0 32  Male   Bachelor's      Software Engineer  5                   90000
2 1 28  Female Master's        Data Analyst       3                   65000
3 2 45  Male   PhD             Senior Manager    15                  150000
4 3 36  Female Bachelor's      Sales Associate    7                   60000
5 4 52  Male   Master's        Director          20                  200000
6 5 29  Male   Bachelor's      Marketing Analyst  2                   55000
  Country Race
1 UK      White
2 USA     Hispanic
3 Canada  White
4 USA     Hispanic
5 USA     Asian
6 USA     Hispanic

## Introduction

Country == USA
Race == White/Asian

Guiding Question
Is there a difference in means of salaries between people of Asian descent vs people of White descent

## Prelimary Results

In [14]:
us_count <- salary_dataset %>%
                filter(Country == "USA") %>%
                count()

us_count

count(salary_dataset)

  n
1 1360

  n
1 6704

## Methods: Plan

## References