## Proposal_Group7

In [2]:
salary_dataset <- read.csv("Salary_Data_Based_country_and_race.csv")

In [3]:
salary_dataset

     X    Age Gender Education.Level   Job.Title
1     0   32  Male   Bachelor's        Software Engineer
2     1   28  Female Master's          Data Analyst
3     2   45  Male   PhD               Senior Manager
4     3   36  Female Bachelor's        Sales Associate
5     4   52  Male   Master's          Director
6     5   29  Male   Bachelor's        Marketing Analyst
7     6   42  Female Master's          Product Manager
8     7   31  Male   Bachelor's        Sales Manager
9     8   26  Female Bachelor's        Marketing Coordinator
10    9   38  Male   PhD               Senior Scientist
11   10   29  Male   Master's          Software Developer
12   11   48  Female Bachelor's        HR Manager
13   12   35  Male   Bachelor's        Financial Analyst
14   13   40  Female Master's          Project Manager
15   14   27  Male   Bachelor's        Customer Service Rep
16   15   44  Male   Bachelor's        Operations Manager
17   16   33  Female Master's          Marketing Manager
18   17   39  Male   PhD               Senior Engineer
19   18   25  Female Bachelor's        Data Entry Clerk
20   19   51  Male   Bachelor's        Sales Director
21   20   34  Female Master's          Business Analyst
22   21   47  Male   Master's          VP of Operations
23   22   30  Male   Bachelor's        IT Support
24   23   36  Female Bachelor's        Recruiter
25   24   41  Male   Master's          Financial Manager
26   25   28  Female Bachelor's        Social Media Specialist
27   26   37  Female Master's          Software Manager
28   27   24  Male   Bachelor's        Junior Developer
29   28   43  Female PhD               Senior Consultant
30   29   33  Male   Master's          Product Designer
⋮    ⋮    ⋮   ⋮      ⋮                 ⋮
6675 6674 46  Male   Master's Degree   Marketing Manager
6676 6675 26  Female High School       Sales Executive
6677 6676 42  Male   Bachelor's Degree Content Marketing Manager
6678 6677 36  Female PhD               Senior Product Marketing Manager
6679 6678 24  Male   Bachelor's Degree Sales Representative
6680 6679 43  Female Master's Degree   Digital Marketing Manager
6681 6680 27  Male   High School       Sales Manager
6682 6681 33  Female Bachelor's Degree Director of Marketing
6683 6682 28  Male   PhD               Marketing Manager
6684 6683 51  Female Master's Degree   Content Marketing Manager
6685 6684 37  Male   Bachelor's Degree Sales Director
6686 6685 49  Female PhD               Senior Product Marketing Manager
6687 6686 32  Male   High School       Junior Sales Representative
6688 6687 30  Female Bachelor's Degree Sales Manager
6689 6688 46  Male   Master's Degree   Director of Marketing
6690 6689 26  Female High School       Sales Associate
6691 6690 42  Male   Bachelor's Degree Financial Manager
6692 6691 36  Female PhD               Marketing Manager
6693 6692 24  Male   Bachelor's Degree Sales Executive
6694 6693 43  Female Master's Degree   Sales Manager
6695 6694 27  Male   High School       Digital Marketing Manager
6696 6695 33  Female Bachelor's Degree Content Marketing Manager
6697 6696 28  Male   PhD               Sales Representative
6698 6697 51  Female Master's Degree   Senior Product Marketing Manager
6699 6698 37  Male   Bachelor's Degree Junior Sales Representative
6700 6699 49  Female PhD               Director of Marketing
6701 6700 32  Male   High School       Sales Associate
6702 6701 30  Female Bachelor's Degree Financial Manager
6703 6702 46  Male   Master's Degree   Marketing Manager
6704 6703 26  Female High School       Sales Executive
     Years.of.Experience Salary Country   Race
1     5                   90000 UK        White
2     3                   65000 USA       Hispanic
3    15                  150000 Canada    White
4     7                   60000 USA       Hispanic
5    20                  200000 USA       Asian
6     2                   55000 USA       Hispanic
7    12                  120000 USA       Asian
8     4                   80000 China     Korean
9     1                   45000 China     Chinese
10   10                  110000 Australia Australian
11    3                   75000 UK        Welsh
12   18                  140000 UK        Asian
13    6                   65000 China     Korean
14   14                  130000 USA       African American
15    2                   40000 Canada    Asian
16   16                  125000 China     Chinese
17    7                   90000 USA       Asian
18   12                  115000 UK        Mixed
19    0                   35000 UK        Asian
20   22                  180000 Australia Asian
21    5                   80000 China     Korean
22   19                  190000 UK        White
23    2                   50000 UK        Asian
24    9                   60000 China     White
25   13                  140000 USA       African American
26    3                   45000 Canada    White
27   11                  110000 Australia Asian
28    1                   40000 Australia Asian
29   15                  140000 Canada    Black
30    6                   90000 China     Korean
⋮    ⋮                   ⋮      ⋮         ⋮
6675 14                  140000 Australia Asian
6676  1                   35000 China     Chinese
6677 13                  130000 UK        Asian
6678 10                  100000 China     Korean
6679  1                   35000 UK        Asian
6680 15                  150000 Australia Australian
6681  2                   40000 UK        White
6682  8                   80000 USA       African American
6683  4                   55000 Canada    Asian
6684 19                  190000 UK        White
6685  7                   90000 China     Chinese
6686 20                  200000 China     White
6687  3                   40000 UK        Welsh
6688  5                   70000 UK        Welsh
6689 16                  160000 China     Chinese
6690  1                   35000 USA       Hispanic
6691 13                  130000 Australia Asian
6692  9                   95000 China     Chinese
6693  1                   35000 Canada    Asian
6694 14                  140000 Canada    Asian
6695  2                   40000 Australia Asian
6696  7                   90000 Australia Australian
6697  4                   55000 China     Korean
6698 19                  190000 UK        White
6699  6                   75000 Canada    Asian
6700 20                  200000 UK        Mixed
6701  3                   50000 Australia Australian
6702  4                   55000 China     Chinese
6703 14                  140000 China     Korean
6704  1                   35000 Canada    Black